    body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      color: #222;
      line-height: 1.6;
    }

    header {
      background: linear-gradient(135deg, #ff4545, #3498db);
      color: black;
      padding: 40px 20px;
      text-align: center;
    }

    .profile-container {
      text-align: center;
      margin-top: 20px;
    }

    .profile-picture {
      width: 150px; /* Ancho */
      height: 150px; /* Alto */
      border-radius: 50%; /* ¡Esto la hace circular! */
      object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
      border: 3px solid #fff; /* Opcional: borde blanco */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Opcional: sombra */
    }

    .profile-container h1 {
      margin-top: 10px;
      font-family: sans-serif;
    }

    section {
      max-width: 900px;
      margin: 40px auto;
      background: white;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    h2, p {
      color: #000000;
      text-align: center;
      margin-top: 0;
    }

    main{
      background-image: url('../images/setup.jpeg'); /* Reemplaza con la ruta de tu imagen */
      background-size: cover; /* Para que la imagen cubra toda la página */
      background-repeat: no-repeat; /* Para que no se repita */
      background-attachment: fixed; /* Para que la imagen se quede fija al hacer scroll */
    }
